<div class="container-list-chamadas">
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Paciente</th>
                <th>Endereço</th>
                <th>Emergencia</th>
                <th>Status</th>
                <th>Data</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="oc in ocorrencias">
                <td>
                    <button class="btn btn-primary" ng-click="showOcorrencia(oc)">Ver</button>
                </td>
                <td>{{oc.paciente_nome}}</td>
                <td>{{oc.endenreco}}</td>
                <td>{{oc.is_medica}}</td>
                <td><span class="ocorrencia-status {{oc.status=='atendido'?'status-ok':''}}"></span></td>
                <td>{{oc.time|date:'dd/MM/yyyy'}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="chamadaModal" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-3">
                        <span class="ocorrencia-desc-txt">Nome:</span> {{ocorrencia.nome}}
                    </div>
                    <div class="col-sm-3">
                        <span class="ocorrencia-desc-txt">Telefone:</span> {{ocorrencia.telefone}}
                    </div>
                    <div class="col-sm-3">
                        <span class="ocorrencia-desc-txt">Cidade:</span> {{ocorrencia.cidade}}
                    </div>
                    <div class="col-sm-3">
                        <span class="ocorrencia-desc-txt">Endereço:</span> {{ocorrencia.endereco}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <span class="ocorrencia-desc-txt">Numero:</span> {{ocorrencia.numero}}
                    </div>
                    <div class="col-sm-3">
                        <span class="ocorrencia-desc-txt">Referencia:</span> {{ocorrencia.referencia}}
                    </div>
                    <div class="col-sm-3">
                        <span class="ocorrencia-desc-txt">Bairro:</span> {{ocorrencia.bairro}}
                    </div>
                    <div class="col-sm-3">
                        <span class="ocorrencia-desc-txt">Paciente:</span> {{ocorrencia.paciente_nome}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <span class="ocorrencia-desc-txt">Idade:</span> {{ocorrencia.idade}}
                    </div>
                    <div class="col-sm-6">
                        <span class="ocorrencia-desc-txt">Sexo:</span> {{ocorrencia.sexo=='M'?'Masculino':'Feminino'}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <span class="ocorrencia-desc-txt">Queixa:</span> {{ocorrencia.queixa}}
                    </div>
                </div>
                <div class="row" ng-if="ocorrencia.obs">
                    <div class="col-sm-12">
                        <span class="ocorrencia-desc-txt">Observações:</span> {{ocorrencia.observacoes}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>